<h1> Welcome </h1>

<p> <a href="/parties/new"> Add a new party </a> </p>
<p> <a href="/parties"> See all active parties</a> </p>
<p> <a href="/foods"> See Menu</a> </p>
<p> <a href="/foods/new"> Add a Menu item</a> </p>

