<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RESTaurant</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<center>
		<header> 
			<h1> <a href="/">Aioli </a> </h1>
		</header>
		<div class="content">
			<%=yield%>
		</div>	
	</center>
</body>
</html>