<h2> Full menu </h2>

<ul>	
	<% @foods.each do |food| %>
		<li>
			<div class="food_items">
				<a href="/foods/<%=food.id%>">
					 <%= food.name %>  -   <%= food.price %>
				</a>	
			</div>
		</li>
	<% end %>
</ul>