<h3> Add a food item </h3>

<form action="/foods" method='post'> 
	<input type="text" name="food[name]" placeholder="Enter Name">
	<input type="text" name="food[price]" placeholder="Enter Price">
	<input type="submit">
</form>