<h3> single food item </h3>

<p> <%= @food.name %>   -    <%= @food.price %> </p>


<p> <a href="/foods/<%= @food.id %>/edit">Edit this item</a> </p>

<form action="/foods/<%= @food.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Remove from Menu">
</form>
