<h2> Add a new party </h2>

<form action="/parties" method='post'>
	<input type="text" name="party[name]" placeholder="Name of Party">
	<input type="text" name="party[size]" placeholder="Size of Party">
	<input type="submit">
</form>