<h3> Receipt for Transaction </h3>

<ul>
	<% @receipt_items.each do |item| %>
		<li>
			<div class="food_items">
				<%= item %>
			</div>
		</li>
	<% end %>
</ul>


<a href="/receipts/receipt.txt">Download Receipt</a>
