<h2> Individual Party Details </h2>

<%= @party.name %> - 
<%= @party.size %>

<form action="/parties/<%= @party.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Party">
</form>